
body {
    margin: 0;
    background-color: #0EE1CB;
}


ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00FF00;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;} 

ul.topnav li a.active {background-color: orange;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

h1 {
    text-align: center;
    color: red;
}

p {
    text-align: center;
}

.btn {
    display: block;
    padding: 12px 20px;
    font-size: 24px;
    cursor: pointer;
    
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color:  #4BF900;
    border: #111;
    border-radius: 4px;
    box-shadow: 0 9px #0EE1CB ;
    width: 100px;
    margin: 5px;
    transition: all 0.3s;
    color: white;
}

.btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.3s;
}

.btn span::after {
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.3s;
}

.btn :hover span{
    padding-right: 15px;
}

.btn :hover span:after {
    opacity: 1;
    right: 0;
}

.btn:active {
    background-color: #3e8413;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
} 

.color {
    background-color: white;
}